{
    "extends": [
      "airbnb",
      "prettier"],
    "rules": {
      "linebreak-style": 0,
      "no-console":"off",
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/react-in-jsx-scope": "off"
    }
  }

