{
    "extends": [
      "airbnb",
      "prettier"],
    "rules": {
      "linebreak-style": 0,
      "no-console":"off",
      "react/jsx-props-no-spreading": "off",
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/react-in-jsx-scope": "off",
      "import/prefer-default-export": "off",
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
    },
    "globals": {
      "localStorage": true
    },
    "env": {
      "browser": true

    }
  }

