.header {
  padding-top: 47px;
  transition: 0.3s linear;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  padding-bottom: 65px;
  border-radius: 0 0 30px 30px;
  background-color: $background;
  z-index: 1;
}

.heder_displayed {
  background-color: #fff;
  border-radius: 0px 0px 30px 30px;
}

@include atDesktop1024 {
  .header {
    padding-top: 44px;
    padding-bottom: 49px;
  }
}

@include atMobile {
  .header {
    padding-top: 15px;
    padding-bottom: 0;
  }
}
